header {
		color: white;
	text-align: center;
font-family: "courier new";


}
body {
	background-image: url(darkbasement.jpg);	
}
h3 {
	font-family: "courier new";
	text-align: center;
	color: white;
}
p {
	font-family: "courier new";
	text-align: center;
	color: white;
}
