header {
		color: white;
	text-align: center;
font-family: "courier new";


}
body {
	background-image: url(bg.jpg);	
	background-size: 2000px 1100px;
}
h2 {
	font-family: "courier new";
	text-align: center;
	color: white;
}
p {
	font-family: "courier new";
	text-align: center;
	color: white;

}
h3 {
	font-family: "courier new";
	text-align: center;
	color: white;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9F4DE; /* aqua */
  border-radius: 12px;
}

li {
  float: left;
  border-right: 2px solid black;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-family: 'courier new';
}

.button {
  background-color: #A9F4DE; /* aqua */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: black;
  border-radius: 12px;
  display: block;
  text-align: center;
  font-family: 'courier new';
}

.theoffice {
  size: 100px 100px;
}

.gologo {
  size: 100px 100px;
}
